**/__pycache__
.vscode
local_notebooks
local_trained_models
local_data
outputs
experiments
app
.env
temp
try
*.pt
*.ipynb
.neptune
.pytest_cache
build
.cursor
.venv
.vscode
.ruff_cache
*deprecated
*.png
graphs